#big-title {
    margin: 80px auto 0 auto;
    text-align: center;
    font-size: 4rem;
    color: white;
    background-image: linear-gradient(90deg, rgb(236, 187, 236), rgb(139, 222, 231), rgb(187, 196, 236));

    padding: 1rem;
    border-radius: 40px;
    box-shadow: 0 0px 50px 0 rgba(197, 197, 197, 0.5);

    background-size: 800% 800%;
    animation: GradietionAnimation 9s ease infinite;
}

.container {
    display: grid;
    
    margin-top: 100px;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 40px;
    justify-items: center;
    align-items: center;
    
    height: 600px;
}

.middle-menue {
    padding: 30px;
    
    background-color: #ffffff28;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    
    box-shadow: 0 0px 50px 0 rgba(155, 155, 155, 0.726);
    background-size: cover;

    animation-name: scale-anime;
    animation-fill-mode:backwards;
    animation-duration: 1s;
    animation-timing-function:ease;
    animation-direction:normal;
}

.menue-1 {
    grid-row: 1 / 3;
    background-image: url(../../img/menue1.jpg);
    background-position: 0 -170px;
    animation-delay: 0.7s;
}

.menue-2 {
    grid-row: 3 / 5;
    background-image: url(../../img/menue2.jpg);
    background-position: center -50px;
    animation-delay: 0.8s;
}

.menue-3 {
    grid-row: 1 / 3;
    background-image: url(../../img/menue3.jpg);
    background-position: left top;
    animation-delay: 0.9s;
}

.menue-4 {
    grid-row: 3 / 5;
    background-image: url(../../img/menue4.jpg);
    background-position: left top;
    animation-delay: 1s;
}

.menue-price {
    background-image: linear-gradient(90deg, rgb(184, 140, 184), rgb(90, 125, 129), rgb(75, 90, 155));
    margin: 5px 0;
    border-radius: 10px; 
    color: rgb(255, 255, 255);
    padding: 5px 0;
    text-align: center;

    background-size: 800% 800%;
    animation: GradietionAnimation 9s ease infinite;
}



.number {
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    
    margin-bottom: 30px;
}

.detail-menue {
    background-color: #ffffff28;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    padding: 20px;
    
    box-shadow: 0 0px 50px 0 rgba(197, 197, 197, 0.5);
}

.detail-menue p {
    font-size: 1rem;
}

.detail-menue .text {
    font-size: 0.8rem;
}