<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2J - Café</title>
    <!-- Reset - CSS -->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <!-- Base - CSS -->
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/animation.css">
    <!-- INDEX - CSS -->
    <link rel="stylesheet" href="/static/css/index/index.css">
</head>
<body>

    <div class="master-wrapper">
        <!-- ヘッダー -->
        <header id="header">
            <h1 class="site-title">
                <a href="/">
                    Home
                </a>
            </h1>
            <nav>
                <ul>
                    <li><a href="/register">Register</a></li>
                    <li><a href="/admin">admin</a></li>
                    <li><a href="/clear">clear</a></li>
                    <li><a href="/display/regi">regi_display</a></li>
                    <li><a href="/display/kitchen">kitchen_display</a></li>
                </ul>
            </nav>
        </header>
        
        <a href="/register">
            <h1 id="big-title" > JK Café</h1>
        </a>

        <div class="container">
            <div class="menue-1 middle-menue">
                <p class="number">1</p>
            </div>
            <div class="menue-2 middle-menue">
                <p class="number">2</p>
            </div>
            <div class="menue-3 middle-menue">
                <p class="number">3</p>
            </div>
            <div class="menue-4 middle-menue">
                <p class="number">4</p>
            </div>

            <div class="detail-menue">
                <p><b>１．三色のチーズ牛丼パフェ</b></p>
                <p class="text">これを食べると運気アップ！　当店の一押しです。</p>    
                <p class="text">おいしくなあれ！！！！</p>    
                <p class="menue-price"><b>￥399</b></p>
            </div>
            
            <div class="detail-menue">
                <p><b>２．三色のチーズ牛丼パフェ</b></p>
                <p class="text">これを食べると運気アップ！　当店の一押しです。</p>    
                <p class="text">おいしくなあれ！！！！</p>    
                <p class="menue-price"><b>￥399</b></p>
            </div>

            <div class="detail-menue">
                <p><b>３．三色のチーズ牛丼パフェ</b></p>
                <p class="text">これを食べると運気アップ！　当店の一押しです。</p>    
                <p class="text">おいしくなあれ！！！！</p>    
                <p class="menue-price"><b>￥399</b></p>
            </div>

            <div class="detail-menue">
                <p><b>４．三色のチーズ牛丼パフェ</b></p>
                <p class="text">これを食べると運気アップ！　当店の一押しです。</p>    
                <p class="text">おいしくなあれ！！！！</p>    
                <p class="menue-price"><b>￥399</b></p>
            </div>
        </div>
    </div>

    <script>
        setTimeout(function () {
            location.reload();
        }, 16000);
    </script>
</body>
</html>