<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>2J - Café</title>
  <!-- Reset - CSS -->
  <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
  <!-- Base - CSS -->
  <link rel="stylesheet" href="/static/css/base.css">
  <!-- INDEX - CSS -->
  <link rel="stylesheet" href="/static/css/index/index.css">
  <link rel="stylesheet" href="/static/css/display/kitchen.css">
  <!-- socket.ioをインポート -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>

<div class="master-wrapper">
  <a href="/register"><h1 id="big-title" > JK Café - Kitchen </h1></a>

  {#  ここに表示内容  #}
    <div class="scroll y-grid">
      <div class="grid-top scroll">
      {% for order in orders %}
        <table class="checkout-menue" id="session-menues">
          <tbody>
          <tr>
            <th style="text-align: left;">商品名</th>
            <th>単価</th>
            <th>個数</th>
            <th>金額</th>
          </tr>
          {% for item in order.item %}
            <tr>
              <td>{{ item.menue_name }}</td>
              <td style="text-align: center;">{{ item.value }}</td>
              <td style="text-align: center;">{{ item.quantity }}個</td>
              <td style="text-align: center;">{{ item.sum_value }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% endfor %}
      </div>

  </div>
</div>

<script src="/static/js/display/kitchen.js"></script>

</body>
</html>