body {
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;

}
#big-title {
    margin: 1em auto;
    text-align: center;
    font-size: 2rem;
    color: white;
    background-image: linear-gradient(90deg, rgb(236, 187, 236), rgb(139, 222, 231), rgb(187, 196, 236));

    padding: 1rem;
    border-radius: 40px;
    box-shadow: 0 0 50px 0 rgba(197, 197, 197, 0.5);

    background-size: 800% 800%;
    animation: GradietionAnimation 9s ease infinite;
}

.wrapper{
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    gap: 1%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container{
    height: fit-content;
    width: 32%;
    border: solid 1px black;
}

.info {
    height: 2rem;
    width: 100% ;
    display: flex;

    justify-content: space-between;
}